body{
    color: green;
    background-image: url(.././img/img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: black;
    margin: 30px;
    padding: 50px;
    text-align: center;
    font-size: xx-large;

}
p {
    background-color: none;
    margin: 40px;
    padding: 30px;
    
}